{% load static %}


<div class="blog-grid">
    {% for post in latest_posts %}
    <a class="blog-card" href="{% url 'blog:post-detail' slug=post.slug %}">
        <img src="{{post.image.url}}"
            alt="{{post.title}}" loading="lazy">
        <div class="blog-card-body">
            <span class="blog-tag">{{post.tag}}</span>
            <h3>{{post.title}}</h3>
            <p>{{post.brief_description}}</p>
            <span class="blog-meta">{{post.created_date|date:"M d / h:m"}}</span>
        </div>
    </a>
    {% endfor %}
</div>
