{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="auth-section">
  <div class="container">
    <div class="auth-card">
      <h1>بازیابی رمز عبور</h1>
      <p class="sub">برای بازیابی رمز عبور ادرس ایمیل خود را وارد کنید.</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-field"><label>ایمیل</label><input type="email" name="email"  placeholder="[email protected]"></div>
        <p class="form-error" id="login-error"></p>
        <button type="submit" class="btn btn-primary btn-block">ورود</button>
      </form>
      <p class="auth-foot">قبلاً ثبت‌نام کرده‌اید؟ <a href="{% url 'accounts:login' %}">ورود به حساب</a></p>
    </div>
  </div>
</section>
{% endblock %}