{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
<!-- ARTICLE -->
<section class="article">
  <div class="container">

    <div class="breadcrumb" style="text-align:center; margin-bottom:20px;">
      <a href="{% url 'website:index' %}">خانه</a> /
      <a href="{% url 'blog:post-list' %}">وبلاگ</a> /
     {{ object.title }}
    </div>

    <!-- HEAD -->
    <div class="article-head">
      <span class="blog-tag">{{object.tag}}  · {{object.created_date|date:'M d / h:m'}}</span>

      <h1>{{object.brief_description}}</h1>
    </div>

    <!-- COVER IMAGE -->
    <div class="article-cover">
      <img src="{{object.image.url}}"
           alt="{{object.title}}">
    </div>

    <!-- BODY -->
    <div class="article-body">
      <p>{{object.description}}</p>
    </div>

    {% show_similar_posts object %}

  </div>
</section>
{% endblock %}