{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- SUCCESS -->
<section class="order-section">
  <div class="container">

    <div class="order-success">
      <div class="check" style="background:var(--teal);">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" width="34" height="34">
          <path d="M5 13l4 4L19 7"/>
        </svg>
      </div>
      <h1>پرداخت با موفقیت انجام شد</h1>
      <p>سفارش شما ثبت شد و به‌زودی ارسال می‌شود.</p>
  </div>
</section>
{% endblock %}